<div class="container col-xs-9 col-sm-9">
  <div class="card card-container">
    <table>
      <thead>
        <th>User name</th>
        <th>email</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>
            <fa-icon class="icon" style="color: red" (click)="userRemove(user.id, user.name)" [icon]="faTrash"></fa-icon>
            <fa-icon class="icon" (click)="userEdit(user.id)" [icon]="faUserEdit"></fa-icon>
          </td>
        </tr>
      </tbody>
    </table>
    <fa-icon (click)="createUser()" class="add-user" [icon]="faUserPlus"></fa-icon>
  </div>
</div>