<div class="container col-xs-3 col-sm-4 side-menu">
  <div class="card card-container">
    <form class="form-signin" (ngSubmit)="onSubmit()" [formGroup]="userForm">
      <input type="email" class="form-control" name="email" placeholder="Email" formControlName="email">
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">Niepoprawny email</div>
      <input type="password" class="form-control" name="Password" placeholder="Password" formControlName="password">
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">Niepoprawne haslo</div>
      <input type="submit" [disabled]="userForm.invalid" class="btn btn-lg btn-primary btn-block btn-signin gray" value="Zaloguj się" />
    </form>
  </div>
</div>