<header class="bg-black">
  <div class="text-white header-text">
      <h1>
          <a class="nav-item nav-link text-white" routerLink="/" routerLinkActive="active">Blog</a>
      </h1>
      <h6 class="text-gray">
        Zaawansowane aplikacje internetowe
      </h6>
  </div>
</header>
<nav class="navbar navbar-inverse navbar-fixed-top bg-dark mb-5" >
  <div class="navbar-expand mr-auto container-top navbar-top">
    <div class="nav navbar-nav">
      <a class="nav-item nav-link text-white" *ngIf="!isUserAuthorized" routerLink="/register" routerLinkActive="active">Zarejestruj sie</a>
      <a class="nav-item nav-link text-white" *ngIf="!isUserAuthorized" routerLink="/login" routerLinkActive="active">Zaloguj sie</a>
      <a class="nav-item nav-link text-white" *ngIf="isUserAuthorized" routerLink="/post/create" routerLinkActive="active">Dodaj post</a>
      <a class="nav-item nav-link text-white" *ngIf="isUserAuthorized" routerLink="/users" routerLinkActive="active">Użytkownicy</a>
      <span class="nav-item nav-link text-white clickable" *ngIf="isUserAuthorized" (click)="logOut()">
        Wyloguj się</span>
      <span class="nav-item nav-link text-white" style="color: gray!important" *ngIf="isUserAuthorized" >
        Użytkownik: {{currentUsername}}</span>  
    </div>
  </div>
</nav>


<router-outlet></router-outlet>
<notifier-container></notifier-container>
