.header-text {
    margin-left: 43%;
    height: 100px;
}

.text-white{ 
    color: white
}

.text-gray {
    margin-left: -5%;
    color: gray
}

.text-black {
    color: black;
}

.bg-gray {
    background-color: #404040;
}

.bg-black {
    background-color: #000
}

.navbar-top {
    height: 30px;
}

.container-top {
    margin-top: -15px;
    margin-left: 25%
}

.side-menu {
    float: right;
    margin-top: 10%;
}

.horizontal-line {
    border: none;
    height: 1px;
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

.clickable:hover{
    cursor: pointer;
}