<div style="margin-right: 70px; margin-left: -25px;">
    <h3>{{postModel.title}}</h3>
    <img src={{postModel.image}} style="height: auto; max-height:400px; max-width: 100%;">
      <div class="post-content">{{contentText}}
      </div>
      <br>
      <span>(</span>
      <a  routerLink="{{url}}" routerLinkActive="active">więcej...</a>
      <span>)</span>
      <br>
      <div class="post-details">
        {{footerText}}
      </div>
  </div>