
<div class="col-xs-3 col-sm-6" style="margin-left: auto; margin-right: auto;">
  <div style="margin-right: 30%;">
      <div *ngIf="!isInEditMode">
          <fa-icon *ngIf="isUserAuthorized" (click)="edit()" class="add-user" [icon]="faEdit"></fa-icon>
          <fa-icon *ngIf="isUserAuthorized" (click)="delete()" class="add-user" [icon]="faTrashAlt"></fa-icon>
          <h3>{{postModel.title}}</h3>
          <img src={{postModel.image}} style="height: auto; max-height:400px; max-width: 100%;">
            <div class="post-content">{{postModel.content}}
            </div>
            <br>
            <div class="post-details">
              {{footerText}}
            </div>
      </div>
  </div>

  <div *ngIf="isInEditMode" class="card card-container">
      <form class="form-signin" (ngSubmit)="onSubmit()" [formGroup]="postForm">
        <input type="text" class="form-control" name="title" placeholder="Title" formControlName="title">
        <div *ngIf="title.invalid && (title.dirty || title.touched)" class="text-danger">Podaj tytuł posta</div>
        <textarea rows="10" cols="50" class="form-control" name="content" formControlName="content">
        </textarea>
        <div *ngIf="content.invalid && (content.dirty || content.touched)" class="text-danger">Podaj treśc posta</div>
        <input type="submit" [disabled]="postForm.invalid" class="btn btn-lg btn-primary btn-block btn-signin gray" value="Zaktualizuj post" />
      </form>
    </div>
</div>