<div class="container col-xs-3 col-sm-4 side-menu">
  <div class="card card-container">
    <form class="form-signin" (ngSubmit)="onSubmit()" [formGroup]="postForm">
      <input type="text" class="form-control" name="title" placeholder="Title" formControlName="title">
      <div *ngIf="title.invalid && (title.dirty || title.touched)" class="text-danger">Podaj tytuł posta</div>
      <textarea rows="10" cols="50" class="form-control" name="content" formControlName="content">
      </textarea>
      <div *ngIf="content.invalid && (content.dirty || content.touched)" class="text-danger">Podaj treść posta</div>
      <div class="image-upload" *ngIf="!isAnyImageSelected()">
        <img [src]="imageSrc" style="max-width:300px;max-height:300px"/>
        <input name="imageUrl" type="file" accept="image/*" (change)="convertImageToBase64($event)" />
    </div> 
      <input type="submit" [disabled]="postForm.invalid" class="btn btn-lg btn-primary btn-block btn-signin gray" value="Dodaj post" />
    </form>
  </div>
</div>