<!-- <div class="col-xs-6 col-sm-3 side-menu" id="sidebar">
    <div >
      <h4>Kategorie</h4>
      <hr class="horizontal-line">
        <a href="#" class="nav-link text-black">Podróże</a>
        <a href="#" class="nav-link text-black">Polityka</a>
        <a href="#" class="nav-link text-black">Kultura</a>
        <a href="#" class="nav-link text-black">Nauka</a>

    </div>
  </div> -->

<div class="col-xs-3 col-sm-6" style="margin-left: auto; margin-right: auto;" id="sidebar">
      <div *ngFor="let postItem of posts">
        <app-post
        [isOnMainPage]="true"
        [postModel]="postItem"
        ></app-post>
      </div>
  </div>
  