<div class="container col-xs-3 col-sm-4 side-menu">
    <div class="card card-container">
      <form class="form-signin" (ngSubmit)="onSubmit()" [formGroup]="userForm">
        <input type="text" class="form-control" name="userName" placeholder="Username" formControlName="username" required autofocus>
        <div *ngIf="username.invalid && (username.dirty || username.touched)" class="text-danger">Wypełnij to pole</div>
        <input type="password" class="form-control" name="Password" placeholder="Password" formControlName="password">
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">Hasło musi zawierac co najmniej sześć znaków</div>
        <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password" formControlName="confirmPassword">
        <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="text-danger">Hasło musi zawierac co najmniej sześć znaków</div>
        <input type="email" class="form-control" name="email" placeholder="Email" formControlName="email">
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">Niepoprawny email</div>
        <input type="submit" [disabled]="userForm.invalid" class="btn btn-lg btn-primary btn-block btn-signin gray" value="Zarejestruj się" />
      </form>
    </div>
  </div>